@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("images/Kerfin7-NEA-2123.jpg") no-repeat center/cover;
}

html {
  font-size: 80%;
}

.home {
  position:absolute;
  padding: 8px;
  margin-left:220px;
  bottom: 440px;
  text-align: center;
  width: 25%;
  background: #265d81;
  color: #fff;
  border: none;
  height: 40px;
  outline: none;
  border-radius: 10px;
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

.home:hover {
  background: #930909;
  color: #ffffff;
}

.wrapper {
  width: 400px;
  height: 500px;
  background: transparent;
  border: 2px solid #265d81;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scaleX(1);
  transition: transform 0.5s ease 0.2s ease;
}

.wrapper.active {
  height: 520px;
}

.form-box {
  width: 100%;
  padding: 10%;
}

.form-box h2 {
  padding: 40px;
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.input-box {
  width: 100%;
  height: 50px;
  background: transparent;
  border-bottom: 0.5px solid #b2b2b2;
  margin-bottom: 10%;
  font-size: 1em;
}

.input-box label {
  position: relative;
  top: -140%;
  left: 5px;
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input {
  width: 100%;
  height: 80%;
  background: none;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  color: #cfcfcfbc;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.btn {
  width: 100%;
  height: 45px;
  background: #265d81;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background: #fff;
  color: #000;
}

#confirmation-message {
  align-items: center;
  display:none;
  text-align: center;
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

/* Media Query for screens with a maximum width of 768px (typical for mobile) */
@media (max-width: 768px) {
  .home {
    font-size: medium;
    width: 30%;
    margin-left: auto;
  }

  .wrapper {
    width: 80%;
  }

  .form-box {
    padding: 5%;
  }

  .form-box h2 {
    padding: 50px;
    font-size: 1.5em;
  }

  .input-box label {
    top: -120%;
  }

  .btn {
    font-size: medium;
    width: 50%;
    margin-left: 25%;

    
  }
}
.ok {
  background-color: #ffffff; /* Green */
  color: rgb(0, 0, 0);
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ok:hover {
  background-color: #265d81;
  color: #fff;
}